.fondo {
    background-image: url(../img/fondo.jpg);
 }
 .barra { 
    background-color: rgba(97, 45, 10, 0.89);  
}
p {
    color: white;
    font-size: 20px;
    text-align: center;
 }
 h1 { 
    color: white;
    font-size: 100px;
    text-align: center;
 }
 h2 { 
    color: white;
    font-size: 150%;
    text-align: center;
    } 
h3 {
    color: white;
    font-size: 60px;
    text-align: center
}
h6 {
    color: white;
    font-size: 30px;
    text-align: left;
}
    section nav ul li a{ 
        text-decoration: none;
        color: white;
        list-style-type: none;
    }
    section nav ul li { 
      display: inline;
      margin: 1%;
    
    }
    footer {
        background-color: rgba(97, 45, 10, 0.89); 
        text-align: justify;
    }
    .footer div nav ul li a { 
        list-style-type: none;
        color: white;
        text-decoration: none;
    }
    .direction p { 
        text-align: right;
    } 
   section header img {
    margin-right: 33%;
    margin-left: 33%;
   }
   .link-propio { 
    color: white;
   }
   .link-propio:hover { 
    color:rgb(41, 21, 7)
   }
   .nav-propia { 
    background-color: rgba(97, 45, 10, 0.89);
   }