@import './base/variables';
@import './componentes/header';



.fondo {
    background-image: url(../img/fondo.jpg)
}
p {
    color: white;
    font-size: $small;
    text-align: center;
    font-family: zen kaku gothic new;
}
h6 {
    color: white;
    font-size: $medium;
    text-align: left;
    font-family: $titulos;
} 

 h2 { 
    color: #ffffff;
    font-size: $large;
    text-align: center;
    font-family: $titulos;
    font-weight: 500;
}
 h1 { 
    color: white;
    font-size: $xlarge;
    text-align: center;
    font-family: $titulos;
    font-weight: 400;
}


 .carousel-mio {
    margin: auto;
    margin-bottom: 5%;
}
footer {
        background-color: rgba(97, 45, 10, 0.89); 
        text-align: justify;
    div{ 
        nav {
            ul {
                li { list-style-type: none;
                text-align: center;
                    a { 
           
            color: white;
            text-decoration:none;
}   }   }   }   }   }
.direction p {
        text-align: right;
}

.img_tam img {
    width: 30%;
    height: 30%;
    margin-bottom: 1px;
}